.Home {
    &__Heading {
        margin-top: 4rem;
        margin-bottom: 4rem;
        padding: 1rem;
        font-size: calc(1.25rem);
        font-weight: 400;
        text-align: center;
    }

    &__Row {
        margin-top: 4rem;
        margin-bottom: 4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 25rem;
        gap: 1rem;
        width: 100%;

        @media only screen and (max-width: 1024px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__Column {
        border: 1px solid black;
        z-index: 1;
        position: relative;
        overflow: hidden;
    }

    &__Picture {
        width: 100%;
        height: 100%;
        background-color: transparent;
        padding: 0;
        cursor: pointer;

        :hover {
            transform: scale(1.1);
        }
    }

    &__Img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &--Contain {
            object-fit: contain;
        }
    }
}