.App {
    @media only screen and (min-width: 1440px) {
        display: grid;
        grid-template-columns: 1fr 75%; 
    }

    &__Left {
        display: none;

        @media only screen and (min-width: 1440px) {
            padding-left: 2rem;
            padding-right: 2rem;
            height: auto;
            display: block;
        }
    }

    &__Right {
        width: 1024px;
        margin: 0 auto;
        padding-left: 2rem;
        padding-right: 2rem;
        height: auto;
    }
}