.App {
    display: grid;
    grid-template-columns: 1fr 100%;

    @media only screen and (min-width: 1024px) {
        grid-template-columns: 1fr 75%; 
    }

    &__Left {
        @media only screen and (min-width: 1024px) {
            padding-left: 2rem;
            padding-right: 2rem;
            height: auto;
        }
    }

    &__Right {
        max-width: 1024px;
        margin: 0 auto;
        padding-left: 2rem;
        padding-right: 2rem;
        height: auto;
    }
}